body {
	font-family: 'Montserrat', sans-serif;
}

/* Utilty Classes*/

.img-responsive {
  max-width: 100%;
}

.hero_image {
	background:url(p2.jpg) no-repeat;
	-webkit-background-size: cover;
	height:100vh;
	position:relative;
}

.hero_wrapper{
	color:white;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.hero_wrapper h1{
	font-size: 2.4rem;
	text-align:center;
}
.hero_wrapper h2{
	font-size: 1.5rem;
	text-align:center;
}

.hero_wrapper span {
	margin-left: 2.5rem;
	display: inline-block;
	margin-bottom: .5rem;
	font-size:1.2rem;
}

.form_code {
	text-align: center;
}
.form_code .post_code {
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2rem;
	padding: .6rem;
	border:none;
	outline:none;
}
.form_code button{
	width:40%;
	text-align:center;
	background-color: red;
	color:white;
	padding: .6rem;
	margin:1rem auto 0rem;
	border: none;
	border-radius:.3rem;
}
